
{%  for custom in confirmation_window_customs %}
<div class="modal" id="sak_modal_before_{{ custom.class}}"  tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger">
              <h5 class="modal-title" id="sak_modal_text_before">{{ custom.title }}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
      <div class="modal-body ">
           <p id='sak_modal_text_before_{{ custom.class}}'>
                        {{ custom.content}}
            </p>
      </div>
      <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{{ "delete_modal.close" | trans({},'AldafluxConfirmationWindowBundle') }}</button>
            <button type="button"  class="sak_valid btn btn-danger"  id="sak_valid_{{ custom.class}}">{{ custom.button}}</button>
      </div>
    </div>
  </div>
</div>
{%  endfor  %}

 